.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.header {
  padding: 10px;
}

.login-form {
  max-width: 50vw;
  min-width: 350px;
  min-height: 155px;
}

.register-form {
  max-width: 50vw;
  min-width: 350px;
  min-height: 280px;
}

.post-image {
  max-height: 200px;
}

.test-border {
  border: 1px solid red !important;
}
